@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

ul {
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1.2px;
  column-gap: 3.5rem;
  font-size: 24px;
  font-weight: bolder;
}

.navBar ul li{
  color: #394247;
  font-size: 24px;
  transition: 0.3s ease-in-out;
}

.navBar ul li:hover {
  color: #0490e8;
}

.navbar.active {
  top: 5rem;
  background: #fff;
  transition: all ease-in-out 0.7s;
}

.main-back {
  background: url(./../img/wave.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-clip:unset;
}

.about-item {
  background: url(./../img/circle.png);
  background-repeat: no-repeat;
  background-color: #fff;
}

/* Style the progress bar container */
.progress {
  height: 15px;
  background-color: #f1f1f1;
  border-radius: 50px;
}

/* Style the progress bar */
.progress-bar {
  height: 100%;
  background-color: #018bed;
  border-radius: 50px;
  width: 0%;
  transition: width 0.5s ease-in-out;
}
